<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado-Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main class="main-detail">
        <h2>Hola <%= userFound.userName %>! </h2>
        
        <img src="/img/imgUsuarios/<%= userFound.fotoPerfil%>" alt="">

        <section class="section">

            <form action="/users/edit/<%= userFound.userName %>" method="GET">

                <div class="divs-detail">
                    <label for="">Nombre y apellido:</label>
                    <%= userFound.name %>
                </div>
                <br>
                <div class="divs-detail">
                    <label for="">Correo electrónico:</label>
                    <%= userFound.email %>
                </div>
                <br>
                <div class="divs-detail">
                    <label for="">Fecha de nacimiento:</label>
                    <%= userFound.birthday %>
                </div>
                <br>
                <div class="divs-detail">
                    <label for="">Domicilio:</label>
                    <%= userFound.adress %>
                </div>

                <br>
                <% if (userLogged && userLogged.userName === userFound.userName) {%> 
                    <button  id="edit" type="submit">Editar</button>
                <% } %> 
        </form>

        <% if (userLogged && userLogged.userName === userFound.userName) {%> 
            <form action="/users/delete/<%= userFound.userName %>?_method=DELETE" method="post">
                <button id="delete" type="submit">Eliminar cuenta</button>
            </form>
        <% } %> 
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>