<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado-Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main class="main">
        <h2>Usuarios registrados</h2>
        <section class="section">
                <% for (let i = 0 ; i < users.length; i++) { %>
                    <article class="usuarios">
                        <% if (users[i].fotoPerfil == "") {%>
                            <a href="/users/detail/<%= users[i].userName %>"><img id="fotoPerfil" src="/img/imgUsuarios/default.jpg" alt="Foto del usuario"></a>
                        <% } else {%> 
                            <a href="/users/detail/<%= users[i].userName %>"> <img id="fotoPerfil" src="/img/imgUsuarios/<%=users[i].fotoPerfil%>" alt="Foto de usuario"></a>
                        <% } %> 
                        <p> <strong><a href="/users/detail/<%= users[i].userName %>"><%=users[i].userName%>:</a></strong></p>
                        <%= users[i].name %>, <%= users[i].email %>
                        <br>
                    </article>   
                <% } %>  
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>