<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Registrate!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-register.css">
    <script defer src="/js/index.js"> </script>

</head>
<body> 

<%- include('./partials/header.ejs') %> 


    <main class="main-register">
        <img class="banner" src="/img/img-home-banner.jpg" alt="Banner">

        
        <form class="form-register" action="/users/register" method="post" enctype="multipart/form-data">
            <h2 class="main-title">Completá tus datos</h2>
            <div class="divs-register">
                <label for="">Nombre y apellido</label>
                <input value="<%= locals.old && old.name ? old.name : '' %>" type="text" name="name" id="" class="control" placeholder="Juan Fernandez" autofocus>
                <% if (locals.errors && errors.name) { %>
                    <p class="errors"><%= errors.name.msg %> </p>
                <% } %>
            </div>
            <div class="divs-register">
                <label for="">Nombre de usuario</label>
                <input value="<%= locals.old && old.userName ? old.userName : '' %>" type="text" name="userName" id="" class="control" placeholder="JuanFer3009">
                <% if (locals.errors && errors.userName) { %>
                    <p class="errors"><%= errors.userName.msg %> </p>
                <% } %>
            </div>
            <div class="divs-register">
                <label for="">Correo electrónico</label>
                <input value="<%= locals.old && old.email ? old.email : '' %>" type="text" name="email" id="" class="control" placeholder="Juan.Fernandes3009@hotmail.com">
                <% if (locals.errors && errors.email) { %>
                    <p class="errors"><%= errors.email.msg %> </p>
                <% } %>
            </div>
            <div class="divs-register">
                <label for="">Fecha de nacimiento</label>
                <input value="<%= locals.old && old.birthday ? old.birthday : '' %>" type="date" name="birthday" id="" class="control">
                <% if (locals.errors && errors.birthday) { %>
                    <p class="errors"><%= errors.birthday.msg %> </p>
                <% } %>
            </div>
            <div class="divs-register">
                <label for="">Domicilio</label>
                <input value="<%= locals.old && old.address ? old.address : '' %>" type="text" name="address" id="" class="control" placeholder="Calle Falsa 1234">
            </div>
            <div class="divs-register">
                
                <label class="title-profile" for="">Foto de perfil</label>
                <input  type="file" name="image" id="">
                <% if (locals.errors && errors.image) {%> 
                    <p class="errors"><%= errors.image.msg %> </p>
                <% } %>
            </div>
            <div class="vender-comprar">
                <label class="title" for="">Está buscando:</label>

                <% let venderComprar = ['Vender', 'Comprar']; %>
                <% for (categoria of venderComprar) {%>
                    <input type="radio" name="venderComprar" value= "<%= categoria %>" id="<%= categoria %>" checked> 
                    <label for="<%= categoria %>"><%= categoria %></label>
                <% } %> 
            </div>
            <div class="categorias">
                <label class="title" id="" for="">Categorías de interés:</label>

                <!-- <div class="divs-categorías">
                    <input checked type="checkbox" name="Deportes" id="Deportes">
                    <label for="Deportes">Deportes</label>
                </div> -->

                <% let categorias = ['Electro', 'Moda', 'Hogar', 'Juguetería', 'Vida sana'] %> 
                
                <% for ( categoria of categorias) {%> 
                <div class="divs-categorías">
                    <input <%= locals.old && old[categoria] ? "checked" : null%> type="checkbox" name="<%= categoria %>" id="<%= categoria %>">
                    <label for="<%= categoria %>"><%= categoria %></label>
                </div>
                <% } %> 
            </div>
            <div class="divs-register">
                <label for="">Contraseña</label>
                <div class="pass">
                    <input type="password" name="pass" id="pass" class="control">
                    <i class="fas fa-eye-slash"></i>
                    <% if (locals.errors && errors.pass) { %>
                        <p class="errors"><%= errors.pass.msg %> </p>
                    <% } %>
                </div>
                <label required for="">Confirmar contraseña</label>
                <div class="pass">
                    <input type="password" name="passRepeat" id="repeat-pass" class="control">
                    <i class="fas fa-eye-slash"></i>
                    <% if (locals.errors && errors.pass) { %>
                        <p class="errors"><%= errors.pass.msg %> </p>
                    <% } %>
                </div>
                
            </div>
            <div class="div-accept">
                <div class="newlletter">
                    <input <%= locals.old && old.newletter ? "checked" : null%> type="checkbox" name="newletter" id="newletter">
                    <label for="newletter">Deseo recibir información sobre los nuevos productos.</label>
                </div>
                <div class="terminos-condiciones">
                    <input <%= locals.old && old.terminosCondiciones ? "checked" : null%> type="checkbox" name="terminosCondiciones" id="terminos-condiciones">
                    <label required for="terminos-condiciones">He leído y acepto los <a href="#">Términos y Condiciones</a>.</label>
                </div>
            </div>
            <div class="divs-buttons">
                <button id="create" class="buttons" type="submit">Crear cuenta</button>
                <!-- <button class="buttons" type="reset">Borrar todo</button> -->
            </div>
        </form>
        
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>


